// Navigation Component
.c-nav {
    background-color: $primary-grey;
    color: $primary-black;

    .c-nav-list {
        list-style: none;

        display: flex;

        .c-nav-list-item {
            padding: 10px;

            &:hover {
                background-color: $primary-white;
                cursor: pointer;
            }
        }
    }
}
.butt{
    background: #2B2D2F;
    height: 80px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font: bold 1.25rem/1 poppins;
    color: #71DFBE;
}

.voting{
    
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: black;
}
}