@import "./settings/colors.scss";
@import "./settings/sizes.scss";
@import "./Components/body.scss";

h1,h2{
    color: $prim-pink;
}

@import "./Components/nav.scss";
/* %banner{
    background-color: red;
    color: black;
    padding: 20px;
}

#banner1{
    @extend banner;
}

#banner2{

} */